body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #444;
  color: #fff;
}

a {
  color: #aaa;
}

input[type="text"], input[type="search"] {
  background-color: #444;
  color: #fff;
}

h1, h2, h3 {
  color: #fff;
}

table {
  background-color: #333;
}

#search input[type="text"] {
  background-color: #555;
  color: #fff;
}
